.download {
   display: flex;
   justify-content: center;
   margin-top: 144px;

   &__title {
      margin-bottom: 30px;
      text-align: center;

      @include tablet {
         font-size: rem(24px);
         line-height: rem(28px);
      }
   }

   &__about {
      text-align: center;
      margin-bottom: 60px;
      font-weight: 700;
      font-size: rem(18px);
      text-transform: uppercase;

      @include tablet {
         font-size: rem(14px);
         line-height: rem(16px);
      }
   }

   &__button {
      margin: 0 auto 80px;
   }
}