.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #babbc5;

    @include mobile {
      border-bottom: none;
    }
  }

  &__menu {
    @include mobile {
      display: none;
      width: 100%;
    }
  }

  &__menu-list {
    display: flex;

    @include mobile {
      flex-direction: column;
    }
  }

  &__menu-item {
    display: inline-block;
    font-weight: 700;
    font-size: rem(13px);
    line-height: rem(15px);
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 42px 0 38px;
    width: 134px;
    border-bottom: 10px solid transparent;

    &:hover {
      border-bottom: 3px solid #babbc5;
    }

    @include tablet {
      font-size: rem(12px);
      line-height: rem(14px);
      width: 112px;
    }

    @include mobile {
      text-align: left;
      min-height: 0px;
      padding: 10px;
      display: flex;
      font-size: rem(16px);
      line-height: rem(18px);
      align-items: center;
      width: 100%;
      border-bottom: none;

      &:hover {
        border-bottom: none;
      }
    }
  }

  &__toggler {
    cursor: pointer;
    user-select: none;
    display: none;

    @include mobile {
      display: inline-block;
    }
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ .header__menu {
    display: block;
  }

  &__logo-image {
    @include mobile {
      width: 103px;
    }
  }
}
