.swiper {
   max-width: 1500px;
   margin-bottom: 20px;
   
   &-slide {
    display: flex;
    align-items: center;

    @include mobile {
       flex-direction: column;
    }
   }

   &-pagination-bullet {

      @include tablet {
         width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
         height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
      }
   }

}

.testimonials {
   background-color:#5C3249;

   &__quote {
      max-width: 471px;
      margin: 0 auto;

      @include mobile {
         max-width: 275px;
      }
   }

   &__image  {
      max-width: 741px;

      @include tablet {
         max-width: 502px;
      }

      @include mobile {
         max-width: 320px;
         margin-bottom: 20px;
      }
   }

   
   &__quote-text {
      font-family: 'Cardo';
      font-size: rem(36px);
      line-height: rem(49px);
      text-transform: capitalize;
      color: #FFFFFF;
      margin-bottom: 30px;

      @include tablet {
         font-size: rem(24px);
         line-height: rem(32px);
      }
   }

   &__quote-author {
      font-family: 'Raleway';
      font-weight: 700;
      font-size: rem(13px);
      line-height: rem(15px);
      text-transform: uppercase;
      color: #FFFFFF;

      @include tablet{
         font-size: rem(12px);
         line-height: rem(14px);
      }

      @include mobile {
         margin-bottom: 40px;
      }
   }
}