body{
    font-size: $base-font-size;
    font-family: Raleway,sans-serif;
}

.container{
  max-width: 1170px;
  margin: 0 auto;

  @include tablet {
    max-width: 984px;
  }
}

h1{  
  font-size: 64px;  
  font-weight: 900;
  line-height: 75px;
}

h2{
  font-size: 36px;  
  font-weight: 700;
  line-height: 42px;
}

h3{
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}

h4{
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;    
}

h5{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

h6{
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
}

button{
  display: block;     
  height: 77.57575988769531px;
  width: 369px;
  background: #FF4343;
  color: white;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;

  &:hover, &:focus {
      background: #E71414;
  }

  &:active {
   background: #FF4343;
   box-shadow: 4px 4px 30px #FF4343;
  }

  @include tablet {
   font-size: 18px;
   width: 314px;
  }

  @include mobile {
   width: 280px;
  }
}

a {
   text-decoration: none;
   color: inherit;
   cursor: pointer;
}