html {
   scroll-behavior: smooth;
}

body{
    font-size: $base-font-size;
    font-family: Raleway,sans-serif;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 5px;

  @include tablet {
    max-width: 984px;
  }
}

h1{  
  font-size: rem(64px);  
  font-weight: 900;
  line-height: rem(75px);
}

h2{
  font-size: rem(36px);  
  font-weight: 700;
  line-height: rem(42px);
}

h3{
  font-size: rem(30px);
  font-weight: 700;
  line-height: rem(35px);
}

h4{
  font-weight: 900;
  font-size: rem(24px);
  line-height: rem(28px);    
}

h5{
  font-weight: 400;
  font-size: rem(18px);
  line-height: rem(21px);
}

h6{
  font-weight: 700;
  font-size: rem(13px);
  line-height: rem(15px);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}